@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: montserrat;
    
  }
  
  .container{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 1300px;
    transform: translate(-50%,-40%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content{
    
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texto{
    line-height: 40px;
    text-align: center;
    color: white;
  }
  .texto h1:nth-of-type(1){
    font-size: 50px;
    line-height: 50px;
  }
  .texto h1 span{
    color: blueviolet;
  }
  .logo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo > img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .form {
    box-shadow: 0rem 0rem 2rem black;

    background-color: rgb(88, 25, 146);
    border-radius: 20px;
    box-sizing: border-box;
    height: 510px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    border-radius: 20px;
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    width: 100%;
    font-weight: 600;
    margin-top: 30px;
  }
  br{
    margin-bottom: 20px;
  }
  .title img {
    padding: 20px;
    width: 60px;
    height: 60px;
    border-radius: 30px;

  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: bl;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #e7d400;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #daf222;
  }
  
  .input:focus ~ .placeholder {
    color: white;
  }
  
  .submit {
    background-color: rgb(31, 31, 31);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgb(179, 185, 11);
  }